#chat-screen {
    background-color: #abc1d1;
    height: 150vh;
}

#chat-screen .alt-header, 
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    top: 15px;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: none;
    }
    1% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
    }
}

.main-chatroom {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s linear;
}

.chat__timestamp {
    color: rgba(255,255,255,0.8);
    background-color: #92a4b2;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.message-row img {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.message__author {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.message__bubble {
    background-color: white;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 0px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__time {
    opacity: 0.6;
    margin: 0 7px;
    font-weight: 500;
    font-size: 14px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: #fae100;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 10px;
    height: 22px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.reply__column:last-child > i, 
.reply__column:last-child button {
    position: absolute;
    right: -15px;
    top: 2px;
}

.reply__column:last-child > i {
    right: 30px;
    top: 10px;
    margin-right: 10px;
}

.reply__column button {
    background-color: #fae100;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply__column i {
    opacity: 0.6;
    font-size: 25px;
}

.reply:focus-within .reply__column:first-child {
    opacity: 0;
}

.reply:focus-within .fa-face-smile, 
.reply:focus-within button {
    opacity: 0;
    color: white;
}

.reply:focus-within input {
    width: 85vw;
    transform:translateX(-10%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}